{% extends "base.html" %} {% block content %}
<div class="container">
  <h1 class="text-center text-info mb-4">🎧 Playlist erstellen</h1>

  {% if messages %} {% for message in messages %}
  <div class="alert alert-success">{{ message }}</div>
  {% endfor %} {% endif %}

  <form
    action="{% url 'create_playlist' %}"
    method="post"
    class="bg-dark p-4 rounded shadow"
  >
    {% csrf_token %} {{ form.as_p }}
    <div class="text-end">
      <button class="btn btn-primary mt-3" type="submit">
        🆕 Playlist erstellen
      </button>
    </div>
  </form>
</div>
{% endblock %}
